@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GmailClient</h1>
    <p class="lead">WEB mail client for Gmail, using the Gmail IMAP/SMTP access.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            You have to configure google account for IMAP access.
        </p>
        <p><a class="btn btn-default" href="https://support.google.com/mail/troubleshooter/1668960?hl=en#ts=1665018" target="_blank">Enable IMAP &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Security</h2>
        <p>First you have to register and log in.</p>
        <p><a class="btn btn-default" href="@Url.Action("Register", "Account")">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gmail account</h2>
        <p>Register your Gmail account with Google id and password (single account).</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Settings")">Settings &raquo;</a></p>
    </div>
</div>