@{
    ViewBag.Title = "Inbox";
}

<h2>Inbox</h2>

<table id="inboxTable" class="table">
    <thead>
    <th></th>
    <th>Subject</th>
    <th>Message</th>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $.getJSON("/api/inbox", LoadInbox);
        });

        function LoadInbox(data) {
            $.each(data, function (key, val) {
                var tableRow = '<tr>' +
                    '<td></td>' +
                    '<td>' + val.Subject + '</td>' +
                    '<td>' + val.Message + '</td>' +
                    @*'<td><input type="text" value="' + val.ContactName + '"/></td>' +
                    '<td><input type="text" value="' + val.Country + '"/></td>' +
                    '<td>
                        <input type="button" name="btnUpdate" value="Update"/>
                        <input type="button" name="btnDelete" value="Delete"/>
                    </td>' +*@
                    '</tr>';
                $('#inboxTable').append(tableRow);
            });

        }
    </script>
}
