@model GmailClient.Models.MailModel

@{
    ViewBag.Title = "Mail";
}

@section head
{
    <style type="text/css">
        .hiddenRow {
            padding: 0 !important;
        }
    </style>
}

<div class="row">
    <div class="col-md-2" role="complementary">
        @*Folders*@
        <div class="row">
            <p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Compose mail</button>
            </p>
        </div>
        <div id="scanfolders">Scanning folders...</div>
        <nav>
            <ul class="nav" id="folders">
                @*<li role="presentation" class="active"><a href="#">1</a></li>*@
            </ul>
        </nav>
    </div>

    <div class="col-md-9" role="main">
        @*Messages*@
        <table id="messages" class="table table-striped">
            <thead>
            <th>Sender</th>
            <th>Subject</th>
            <th>Date</th>
            <th>&nbsp;</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@Html.Action("Compose", "Mail")

@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>

    <script type="text/javascript">
        //Fetch folders
        $(document).ready(function () {
            $.getJSON("/api/folders", LoadFolders);
        });

        function LoadFolders(data) {
            $("#scanfolders").html("");
            $("#ulnav").html("");
            $.each(data, function (key, val) {
                $("#folders").append("<li role=\"presentation\"><a href='#' onclick='OpenFolder(\"" + val.Name + "\")'><i class=\"fa fa-folder\"></i> " + val.Name + "</a></li>");
            });
        }

        function OpenFolder(folder) {
            $.getJSON("/api/messages", "folder=" + folder, LoadMessages);
        }

        function LoadMessages(data) {
            $("#messages").find("tr:gt(0)").remove();
            $.each(data, function (key, val) {
                var tableRow = '<tr id="rowheader' + val.UId + '" data-toggle="collapse" data-target="#divbody' + val.UId + '" class="accordion-toggle">' +
                                '<td>' + val.FromDisplayName + '</td>' +
                                '<td>' + val.Subject + '</td>' +
                                '<td>' + val.Date + '</td>' +
                                '<td><a href="#" onclick="deleteMail(' + val.UId +')"><i class="fa fa-times"></i></a></td>' +
                                '</tr>';
                $('#messages').append(tableRow);
                var bodyRow = '<tr id="rowbody' + val.UId + '">' +
                    '<td colspan="3" class="hiddenRow"><div id="divbody' + val.UId + '" class="accordian-body collapse">' + val.Body + '</div></td>' +
                    '</tr>';
                $('#messages').append(bodyRow);
            });
        }

        function deleteMail(id) {
            $("tr[id*=" + id + "]").remove();
        }
    </script>
}
